{% extends 'base.html' %}

{% block title %}Python web-application{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <!-- Creates a closable icon -->
                <small><sup>X</sup></small>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

        <h5>Click the item to edit the name</h5>
        
    {% if all_items %}
    <table class="table table-bordered">
        {% for things in all_items %}
        {% if things.completed  %}
            <tr class="table-secondary">
                <td class="striker"><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>  
                <td><center><a href="{% url 'uncross' things.id %}">Uncross</a></center></td>
                <td><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
            </tr>
            {% else %}
                <tr>
                    <td><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>  
                    <td><center><a href="{% url 'cross_off' things.id %}">Cross off</a></center></td>
                    <td><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
                </tr>
            
        {% endif %}    
        {% endfor %}
    </table>
    {% endif %}    
        </br>

        <h5>Used for this site</h5>

        <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">               
                <div class="card-body">
                  <p class="card-text"> Python</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://www.python.org/"><button type="button" class="btn btn-sm btn-outline-secondary">Info</button></a>
                    </div>
                    <small class="text-muted">version 3.7.1</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">               
                    <div class="card-body">
                      <p class="card-text">Django Web framework</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="https://www.djangoproject.com/"><button type="button" class="btn btn-sm btn-outline-secondary">Info</button></a>
                      </div>
                      <small class="text-muted">version 2.1.3</small>
                    </div>
                  </div>
                </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">               
                        <div class="card-body">
                          <p class="card-text">Bootstrap</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a href="https://getbootstrap.com/"><button type="button" class="btn btn-sm btn-outline-secondary">Info</button></a>
                            </div>
                            <small class="text-muted">version 4.1.3</small>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

{% endblock %}